<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FLASK CRUD</title>
  <link rel="stylesheet" href="https://bootswatch.com/darkly/%22%3E
</head>
<body>
<nav class="navbar navbar-dark bg-darg"><a class="nav-brand" href="/">Flask Contactos</a></nav>

<div class="container pt-4">
    {% block body%}

    {% endblock %}
</div>
<!--<div><img src="descarga.jfif" width="400" height="300"></div>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>
