.container{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*padding: 30px;
    margin: 20px;*/
    margin-bottom:-100px;
    height: 400px;
    width: 400px;
    background-color: #ffe;
    border: 1px solid #999;
    border-radius: 8px;
}

.df{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.cabecera{
    width: 300px;
    height: 80px;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 170px;
}
.login-out{
    width: 300px;
    height: 40px;
}
.btn{
    height: 20px;
    width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.name{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
    color: #000;;
}
.grid-block{
    background-image: url('img/design_login/background_design.jpg');
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%; 
}