.container{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Arial';
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*padding: 30px;
    margin: 20px;*/
    margin-bottom:-100px;
    height: 550px;
    width: 400px;
    background-color: #ffe;
    border: 1px solid #999;
    border-radius: 8px;
}

.df{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.cabecera{
    width: 300px;
    height: 80px;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 170px;
}
.login-out{
    width: 300px;
    height: 40px;
}
.btn{
    height: 20px;
    width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.name{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #000;;
}
.grid-block{
    background-image: url('img/design_login/background_design.jpg');
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%; 
}
.submenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:-100px;
    height: 300px;
    width: 400px;
    background-color: #ffe;
    border: 1px solid #999;
    border-radius: 8px;
}
.div-reglas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:-100px;
    height: 400px;
    width: 600px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 8px;
}

li{
    margin-top:10px;
}

.div-scroll{
    overflow-x: hidden;
    overflow-y: auto;
}

.disp{
    display: none;
}
.a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80px;
}
p{
    margin-right: 20px;
}
.input-color{
    margin-top: 15px;
}
.tam{
    width: 40px;
    height: 20px;
    margin-top: 17px;
    border-radius: 0%;
}
.font{
    margin-top: 18px;
    height: 20px;
    width: 120px;
}
.p-font{
    padding-right: 61px;
}
.p-tam{
    padding-right: 51px;
}
.btn-aplicar{
    width: 60px;
    height: 20px;
}
.confirm{
    display: none;
}