{% extends './layout.html' %}

{% block title%} Cartas contra la humanidad {%endblock%}
{% block css%}<link rel="stylesheet" href="{{ url_for('static',filename='Tabla_Ganador.css') }}">{%endblock%}
{% block body %}
<div class="container">
    <div class="titulo">GANADORES</div>
    <div class="resultado">
        <ul class="tabla">
            <li class="primer">player1</li>
            <li class="segundo">player2</li>
            <li class="tercero">player3</li>
            <li class="cuarto">player4</li>
        </ul>
    </div>
</div>
{% endblock %}