{% extends './layout.html' %}
{% block title%} login{%endblock%}
{% block css%}<link rel="stylesheet" href="{{ url_for('static',filename='estilos.css') }}">{%endblock%}
{% block js %}<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>{% endblock %}
{% block body %} 
    <div class="container">
        <div class="logreg">
            <div class="cabecera a">
                <h1 class="obj">Iniciar Sesión</h1>
            </div>
            <div class="inputs a">
                <input type="text" name="nombre" class="nombre obj" autocomplete="off" placeholder="Nombre">
                <input type="password" name="pass" class="pass obj" autocomplete="off"  placeholder="Contraseña">
                <p class="err"></p>
            </div>
            <div class="boton a">
                <button class="conect obj">Conectar</button>
                <p>No tienes una cuenta <a href="/register.html" class="register">Registrarse</a></p>
            </div>
        </div>
    </div>
    {%block script %}
    <script src="{{ url_for('static',filename='login.js') }}"></script>
   
    
    {% endblock %}
{% endblock %}

