{% extends './layout.html' %}
{% block title%}Menu{%endblock%}
{% block css%}<link rel="stylesheet" href="{{ url_for('static',filename='menu.css') }}">{%endblock%}
{% block body %} 

<div class="grid-block">
    <div class="container">
        <div class="menu">
            <div class="cabecera df">
                <h1 class="title">Menú</h1>
                <p class="name">{{nombre}}</p>
            </div>
            <div class="botones df">
                <button class="opc btn"><a href="/submenu.html">Opciones</a> </button>
                <form action="/jugadores" method="POST" class="botones">
                    <button class="conect btn">Conectar</button>
                </form>
            </div>
            <div class="login-out df">
                <a href="/login.html">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}