{% extends './layout.html' %}

{% block title%} Cartas contra la humanidad {%endblock%}
{% block css%}<link rel="stylesheet" href="{{ url_for('static',filename='Player_Area.css') }}">{%endblock%}
{% block body %}

<div class="Container">
    <div class="Entorno">
        <div class="Mesa">
          <div class="Carta" id="Negra">ebjhbbbbbbbbbbbbbbbbbbbbbbbjhdsfjhsvd<span class="Negra"></span></div>
          <div class="Carta"><span>cjhsbdkckjsbdkjbksbkjcbhsjdbkfjjjjjjjsdnskdjckscb</span></div>
          <div class="Carta"><span></span></div>
          <div class="Carta"><span></span></div>
          <div class="Carta"><span></span></div>
        </div>
        <div class="ManoJugador">
            <button class="C1">
                Text
            </button>
            <button class="C2">
                Text
            </button>            
            <button class="C3">
                Text
            </button>            
            <button class="C4">
                Text
            </button>            
            <button class="C5">
                Text
            </button>            
            <button class="C6">
                Text
            </button>            
            <button class="C7">
                Text
            </button>            
            <button class="C8">
                Text
            </button>            
            <button class="C9">
                Text
            </button>
            <button class="C10">
                Text
            </button> 
        </div>
    </div>

</div>
  
{% endblock %}