{% extends './layout.html' %}

{% block title%} Cartas contra la humanidad {%endblock%}

{% block body %}

<div class="Container">
    <div class="Entorno">
        <div class="Mesa">
          <div class="Carta" id="Negra"><span class="Negra"></span></div>
          <div class="Carta"><span> </span></div>
          <div class="Carta"><span></span></div>
          <div class="Carta"><span></span></div>
          <div class="Carta"><span></span></div>
        </div>
        <div class="ManoJugador">
            <div class="C1">
                Text
            </div>
            <div class="C2">
                Text
            </div>            
            <div class="C3">
                Text
            </div>            
            <div class="C4">
                Text
            </div>            
            <div class="C5">
                Text
            </div>            
            <div class="C6">
                Text
            </div>            
            <div class="C7">
                Text
            </div>            
            <div class="C8">
                Text
            </div>            
            <div class="C9">
                Text
            </div>
            <div class="C10">
                Text
            </div> 
        </div>
    </div>

</div>
  
{% endblock %}