{% extends './layout.html' %}

{% block title%} Cartas contra la humanidad {%endblock%}

{% block body %}

<div class="Container">
    <div class="Entorno">
        <div class="Mesa">
          <div class="Carta" id="Negra"><span class="Negra">>/span></div>
          <div class="Carta"><span> </span></div>
          <div class="Carta"><span></span></div>
          <div class="Carta"><span></span></div>
          <div class="Carta"><span></span></div>
        </div>
        <div class="ManoJugador">
            

        </div>
    </div>

</div>
  
{% endblock %}