{% extends './layout.html' %}

{% block title%} Cartas contra la humanidad {%endblock%}
{% block css%}<link rel="stylesheet" href="{{ url_for('static',filename='Player_Area.css') }}">{%endblock%}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
    <script src="{{ url_for('static',filename='estilos.js') }}"></script>    
{% endblock %}
{% block body %}

<div class="container">
    <div class="Entorno"> 
        <div class="Mesa">
            <div class="cronometro"><p id="cro">0</p></div>
            <div class="Carta" id="Negra"><p class="Negra"></p></div>
            <div class="Carta1" ><p id="player1" onclick="puntos()"></p></div>
            <div class="Carta2"><p id="player2" onclick="puntos()"></p></div>
            <div class="Carta3"><p id="player3" onclick="puntos()"></p></div>
            <div class="name-player1">Player1</div>
            <div class="name-player2">Player2</div>
            <div class="name-player3">Player3</div>
            <div class="puntos-player1">Puntos1</div>
            <div class="puntos-player2">Puntos2</div>
            <div class="puntos-player3">Puntos3</div>
        </div>
        <div class="ManoJugador">
                <button class="C1" id="C1" onclick="envio(1)">{{cartasb.0.0}}</button>
                <button class="C2" id="C2" onclick="envio(2)">{{cartasb.1.0}}</button>
                <button class="C3" id="C3" onclick="envio(3)">{{cartasb.2.0}}</button>
                <button class="C4" id="C4" onclick="envio(4)">{{cartasb.3.0}}</button>
                <button class="C5" id="C5" onclick="envio(5)">{{cartasb.4.0}}</button>
                <button class="C6" id="C6" onclick="envio(6)">{{cartasb.5.0}}</button>
                <button class="C7" id="C7" onclick="envio(7)">{{cartasb.6.0}}</button>
        </div>
    </div>
</div>
{% block script %}    
    <script src="{{ url_for('static',filename='estilos.js') }}"></script>
    <script src="{{ url_for('static',filename='player.js') }}"></script>
{% endblock %}
{% endblock %}
