{% extends './layout.html' %}

{% block title%} Cartas contra la humanidad {%endblock%}
{% block css%}<link rel="stylesheet" href="{{ url_for('static',filename='Player_Area.css') }}">{%endblock%}
{% block body %}

<div class="Container">
    <div class="Entorno">
        <div class="Cronometro">
            <div class="tiempo">
                00:00
            </div>
        </div>
        <div class="Mesa">
          <div class="Carta" id="Negra"><span class="Negra"> </span></div>
          <div class="Carta"><span>cjhsbdkckjsbdkjbksbkjcbhsjdbkfjjjjjjjsdnskdjckscb</span></div>
          <div class="Carta"><span></span></div>
          <div class="Carta"><span></span></div>
        </div>
        <div class="ManoJugador">
            <form>
                <button class="C1"></button>
                <button class="C2"></button>
                <button class="C3"></button>
                <button class="C4"></button>
                <button class="C5"></button>
                <button class="C6"></button>
                <button class="C7"></button>
            </form>
        </div>
    </div>
    {% block script %}
    
    <script src="{{ url_for('static',filename='player.js') }}"></script>
    
    
    {% endblock %}
</div>
  
{% endblock %}