{% extends './layout.html' %}
{% block title%}Registrarse{%endblock%}
{% block css%}<link rel="stylesheet" href="{{ url_for('static',filename='estilos.css') }}">{%endblock%}
{% block js %}<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>{% endblock %}
{% block body %} 
<div class="grid-block">  
    <div class="container">
        <div class="logreg">
            <div class="cabecera a">
                <h1 class="obj">Registrarse</h1>
            </div>
                <div class="inputs a">
                    <input type="text" name="nombre" class="nombre obj" placeholder="Nombre">
                    <input type="password" name="pass" class="pass obj" placeholder="Contraseña">
                </div>
                <div class="may a">
                    <p class="may">Eres mayor a 18 años</p><input type="checkbox" class="check">
                </div>
                <div class="boton a">
                    <button type="submit" class="obj register"> <a href="/login.html"> Registrarse</a></button>
                    <p>Ya tienes una cuenta <a href="/login.html" class="login">Iniciar Sesión</a></p>
                </div>
        </div>
    </div>
</div>  
{% endblock %}

