
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Opciones</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='substly.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
	
	<div class="container-btn-mode"> 

		<div id="id-sun" class="btn-mode sun active"> 
		   <i class="fas fa-sun"></i>
		</div>

		<div id="id-moon" class="btn-mode moon"> 
		   <i class="fas fa-moon"></i>
		</div>

	 </div>

	<div id="page" class="a"> 

		<h1 id="nameweb" class="name-web">Opciones</h1>

		<div >
			<h2 id="tema" class="card"> Tema </h2> 		
		</div>

		<div>
			<h2 id="fuente" class="card"> Tamaño de fuente</h2> 
		</div>

	</div>
</body>
	<script src="{{ url_for('static',filename='index.js') }}"></script>
</html>